body
{
    margin: 0;
    
}
.navbar .collapse,.navbar .navbar-collapse,.navbar .profile, .nav-expand-lg .navbar-collapse,.navbar-expand-lg .navbar-nav
{
    flex-direction : column;
    align-items : flex-start;   
}
.navbar-toggler
{
    background-color: #fff;
}
#navbarTogglerDemo01
{
    align-items: flex-start;
    background-color: #040b14;
    width: 120%;
    height: 100vh;
    padding: 0;
    
}
.navbar
{
    position: fixed;
    display: inline-block;
    padding: 0;
    z-index: 2;
}
.navbar-nav
{

    padding-top: 10%;
}

.name
{   
  font-size: 24px;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.img-fluid
{   
  margin: 0 auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
 .profile
{
    text-align: center;
    margin: 0 auto;
    padding-top: 25%;
} 
.navbar-nav a
{
    
    color: #fff;
}
.icons 
{
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 5% 0;
    border-radius: 50%;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 1px;
  }
  .icons:hover {
    background: #149ddd;
    color: #fff;
  }

.navbar li
{
    margin: 0px 3px;
    color: #fff;
    
}
.nav-item i
{
    margin-left: 5px;
    margin-right: 10px;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.nav-item i:hover
{
    color: #149ddd;
}
.set
{
    margin-left: 10%;
}

nav .navbar-nav li a{
    color: white !important;
    }
nav .navbar-nav li a:hover
{
    color: #808080 !important;  
}

#name2 h1 {
    margin: 0 0 1% 0;
    font-size: 74px;
    font-weight: 700;
    line-height: 56px;
    color: #fff ;
    font-family: 'Tiro Telugu', serif;
  }
  
  #name2 p {
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #name2 p span {
    color: #fff;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
  }       
 
@media (min-width :992px)
  {
    
    .content
    {
        
        padding-top: 20%;
        padding-bottom: 28%;
        padding-left: 31%;
    }
    #firstpage
    {
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed ;
        background-position: center;
        background-image: url('images/sai1.png');
        background-position: 230px;
        height: 100vh;
       
    }
    
  }
  

   @media (max-width: 992px) {

    #firstpage
    {
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed ;
        background-position: center;
        background-image: url('images/sai2.png');
        height: 100vh;
    
        
    }
    .content 
    {
      
      padding-top: 40%;
      padding-bottom: 48%;
      padding-left: 6%;
        
    }
    #name2 h1 {
      font-size: 60px;
      line-height: 36px;
      font-weight: bolder;
    }
    #name2 p span {
        font-size: 25px;
      }
    
  }
  
  .rightmost
  {
      margin-top: 10px;
      position:fixed;
      /* left :90%; */
      top: 7%;
      right: 10%;
  }     

  @media (min-width :992px)
  {
    #about
    {
      margin-left: 20%;
    }
    #education
    {
      margin-left: 20%;
    }
    #experience
    {
      margin-left: 20%;
    }
    #skills
    {
      margin-left: 20%;
    }
    #contact
    {
      margin-left: 20%;
    }
    
  }
.ai
{
  width: 23%;
  height: 30%;
  position: absolute;
  right: 3%;

}
  #about
    {
      padding-left: 2%;
      padding-top: 3%;
      
    }
   
   
    #about h1
    {
        padding: 3%  0 3%;
        font-size: 50px;
        font-weight: bolder;
        line-height: 56px;
        color: #173b6c;
        font-family: 'Tiro Telugu', serif;
    }
    
    #about .container-fluid
    {
      padding-left: 2%;
    }
    #about p
    {
    
      
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      
    }
    #about .aboutc
    {
      font-size: 21px;
      width : 60%;
      margin-bottom: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    }

    .about-btn a
    {
      text-decoration: none;
      color: black;
    }
    .about-btn
    {
      padding-top: 1%;
      padding-left: 7%;
      padding-bottom: 3%;
        }
    .circle-button {

    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 50px;
    font-family: Arial;
    font-weight : bold;
    margin : 4%;
    display: inline-block;
  }
  .bttn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #000000;
    font-size: 20px;
    background: #FFB84C;
    border: solid #000000 2px;
    text-decoration: none;
    
  }
  .about-btn button
  {
    padding: 0;
  } 
  
  .bttn:hover {
    background: #ffffff;
    text-decoration: none;
    border: solid #000000 2px;

  }
  .about-btn
  {
    margin-left: 150px;
  }
  .btn1
  {
    background: #F0A04B;
  }
  .btn2
  {
    background: #F55050;
  }
  .btn3
  {
    background: #8BF5FA;
  }

  
  
  /*education */
  #education
  {
    padding-left: 2%;
  }
    #education h1
    {
        padding: 5%  0 1%;
        padding-bottom: 1%;
        font-size: 50px;
        font-weight: bolder;
        line-height: 56px;
        color: #173b6c;
        font-family: 'Tiro Telugu', serif;
        margin-bottom: 0px;
        
    }
    #education .container-fluid
    {
      padding-left: 6%;
    }
    #education .container {
      
      padding: 3% 0;
  
    }
   
    #education .content1 {
      
      border-left: 2px solid #ccc;
      margin-left: 50px;
      padding-left: 30px;
    }
    
    #education .content1 h2 {
      font-size: 30px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    #education .content1 a {
      margin: 0;
      font-size: 22px;
      line-height: 1.5;
      color: #555;
      text-decoration: none;
    }
    #education .content1 p{
      margin: 0;
      font-size: 22px;
      line-height: 1.5;
      color: #555;
      
    }
    
    
  
    #skills
    {
        padding-left: 2%;
      padding-bottom: 10%;
    }
    #skills h1
    {
        padding: 10%  0 2%;
        font-size: 50px;
        font-weight: bolder;
        line-height: 56px;
        color: #173b6c;
        font-family: 'Tiro Telugu', serif;
    }
    #skills .container-fluid
    {
      padding-top: 5%;
      padding-left: 6%;
  
    }
    .skill-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3%;
    }
    .skill-item {
      margin: 1%;
      width: 50vh;
      display: flex;
      flex-direction: column;
    }
    #skills h3 {
      font-size: 24px;
      font-weight: bold;
    }
  
    .skill-percent-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .skill-bar {
      width: 100%;
      height: 30px;
      background-color: #dcdcdc;
      position: relative;
      overflow: hidden;
      border-radius : 20px;
    }
    .skill-fill {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: fill 1s ease-in-out forwards;
    }
    .skill-fill-html {
      background: linear-gradient(to right, #007bff 0%, #007bff 90%, transparent 90%, transparent 100%);
      animation-delay: 0.2s;
    }
    
    .skill-fill-css {
      background: linear-gradient(to right, #007bff 0%, #007bff 80%, transparent 80%, transparent 100%);
      animation-delay: 0.4s;
    }
    
    .skill-fill-js {
      background: linear-gradient(to right, #007bff 0%, #007bff 70%, transparent 70%, transparent 100%);
      animation-delay: 0.6s;
    }
    
    .skill-fill-prg {
      background: linear-gradient(to right, #007bff 0%, #007bff 90%, transparent 90%, transparent 100%);
      animation-delay: 0.8s;
    }
    .skill-fill-AI {
      background: linear-gradient(to right, #007bff 0%, #007bff 30%, transparent 30%, transparent 100%);
      animation-delay: 0.8s;
    }
    .skill-fill-PS {
      background: linear-gradient(to right, #007bff 0%, #007bff 95%, transparent 95%, transparent 100%);
      animation-delay: 0.8s;
    }
    @keyframes fill {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    
    @media screen and (max-width: 600px) {
      .skill-info h3 {
        font-size: 20px;
      }
      .skill-percent {
        font-size: 16px;
      }
    }
    #experience
  {
      padding-left: 2%;
      padding-bottom: 3%;
  }

    #experience h1
    {
        padding-top: 4%;
        padding-bottom: 4%;
        font-size: 50px;
        font-weight: bolder;
        line-height: 56px;
        color: #173b6c;
        font-family: 'Tiro Telugu', serif;
    }
   
  
  
  .container {
    
    padding: 4% 0;

  }
 
  .content1 {
    
    border-left: 2px solid #ccc;
    margin-left: 5%;
    padding-left: 3%;
  }
  
  .content1 h2 {
    font-size: 30px;
    margin-bottom: 1%;
    font-weight: bold;
  }
  .content1 a {
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    color: #555;
    text-decoration: none;
  }
  .content1 p{
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    color: #555;
    
  }


  #contact
  {
      padding-left: 2%;
      padding-bottom: 3%;
  }
  #contact h1
    {
        padding-bottom: 1%;
        font-size: 50px;
        font-weight: bolder;
        line-height: 56px;
        color: #173b6c;
        font-family: 'Tiro Telugu', serif;
    }
    
    #contact p {
      margin-bottom: 4%;
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      
      
    }
        
form.contFrm {
  max-width: 80%;
  margin: auto;
}

.inptFld {
  width: 100%;
  height: 50px;
  border: 0;
  margin: 0 0 10px;
  border-radius: 8\0px;
  padding: 0 20px;
  font-size: 16px;
  color: #000;
  outline: 1px solid #000;
  
}

.inptFld:focus {
  outline-offset: -4px;
  outline: 1px solid #f93;
}

.contFrm textarea {
  height: 75px;
  padding-top: 5px;
}
.inptBtn {
  height: 50px;
  border: 0;
  background: #00b055;
  font-size: 14px;
  color: #fff;
  margin: auto;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}
.inptBtn:hover
{
  background: #000;
}
#reach-out {
  text-align: center; 
  margin-left: 60px;
  margin-top: 70px;
  padding-bottom: 30px;
   
}
#reach-out hr {
  width: 50%; 
  border: none;
  border-top: 3px solid black;
  margin: 0 auto; 
}



#reach-out .icons
{
  height: 50px;
  width: 50px;
  padding: 1% 0;
  margin: 2%;
  margin-top: 0px;
}
#reach-out .fa-brands
{
  font-size: 30px;
  text-align: center;
  
}

